# include the README
include *.rst
include *.md

# include the license file
include LICENSE

# include the requirements file
include requirements.txt

# include config files
recursive-include config *
